<!DOCTYPE>
<html lang="en" class="no-js">
<head>
  <meta charset="UTF-8"/>
  <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.12.4.min.js"></script>
  <link type="text/css" rel="stylesheet" href="/stylesheets/main.css"></link>
  <script src="/javascripts/modernizr.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/gallery.css">
  <script src="/javascripts/color.js"></script>
  <style>
  @import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
  @import url(http://fonts.googleapis.com/earlyaccess/nanumgothiccoding.css);
</style>
</head>
<body>
  <div id="all">
    <div id="mainImage">
    </div>
    <div id="mainPage">
      <nav>
        <p id="topName"></p>
      </nav>
      <div id="allSection">
        <div id="middlesection1">
          <div class="section"id="section1">

          </div>
          <div class="section" id="section2">
          </div>
        </div>
        <div id="middlesection2">
          <div class="section" id="section3">

          </div>
          <div class="section" id="section4">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="content" id="content2">
    <div class="box" id="box1"></div>
    <div class="box" id="box2"></div>
    <div class="box" id="box3"></div>
    <div class="box" id="box4"></div>
    <div class="box" id="box5"></div>
    <div class="box" id="box6"></div>
    <div class="box" id="box7"></div>
    <div>
      <img class="moveTop" src="/images/up2.png"></img>
    </div>
  </div>

  <div class="content" id="content3">
    <div class="outer">
      <div class="inner">
        <div class="box3" id="apply1">
          <div class="one">
            <p id="applyHeadLine"><img id="bar"src="/images/bar.jpg"></img>&nbsp;동아리<br> &nbsp;지원서</p>
          </div>
          <div class="one">
            <form id="applyForm1">
              1.이름을 적어주세요.</br><input class="info" id="name"type="text" placeholder="이름"></input></br>
              2.학과를 적어주세요.</br><input class="info" id="major"type="text" placeholder="학과"></input></br>
              3.학번을 적어주세요.</br><input class="info" id="student_number"type="text" placeholder="학번"></input></br>
              4.현재 학년과 학기를 적어주세요.</br><input class="info" id="grade"type="text" placeholder="(ex)3학년1학기"></input></br>
            </form>
          </div>
          <div class="one">
            <form id="applyForm2">
              5.연락가능한 핸드폰 번호를 적어주세요</br><input class="info" id="phone_number"type="text" placeholder="-없이 적어주세요"></input></br>
              6.이메일을 적어주세요.</br><input class="info" id="email"type="text" placeholder="example@naver.com"></input></br>
              7.현재 거주지를 적어주세요.</br><input class="info" id="home"type="text" placeholder="ex서울 광진구"></input></br>
              8.성별을 체크해주시고, 남자분이시면 군필 여부도 체크해주세요.<br>남<input class="nonBoxInfo" id="gender"type="radio" checked="checked" name="radio" value="남">
              &nbsp;여<input id="gender"type="radio" name="radio" value="여">&nbsp;군필<input type="checkbox" id="milcheck">
            </br>
          </form>
        </div>
      </div>
      <div class="box3" id="apply2">
        <form id="applyForm3">
          9.지원동기를 적어주세요. (700자 내외)</br><textarea class="nonBoxInfo" id="apply_reason"rows="9" cols="100"></textarea></br>
          10.자신의 프로젝트 경험에 대해 적어주세요. (500자 내외)</br>(큰 프로젝트가 아니라 수업시간을 통한 사소하고 작은 경험도 괜찮습니다. 프로젝트 경험이 없으면 없다고 적어주세요)
        </br><textarea class="nonBoxInfo" id="project"rows="7" cols="100"></textarea></br>
        11.자신이 개발하고 싶은 서비스를 적어주세요. (500자 내외)</br><textarea class="nonBoxInfo" id="want_service"rows="7" cols="100"></textarea></br>
        <input id="applyButton"type="submit" value="지원"></input>
      </form>
    </div>
    <div id="moveTopDiv">
      <img class="moveTop" src="/images/up2.png"></img>
    </div>
  </div>
</div>
</div>

<div class="content" id="content4">
  <div class="box" id="note1">grgegreggregbmgegeger</div>
  <div class="box" id="note2">grgeger</div>
  <div>
    <img class="moveTop" src="/images/up2.png"></img>
  </div>
</div>

<div class="content" id="content1">
  <div class="box2" id="act1"></div>
  <div class="box2" id="act2"></div>
  <div class="box2" id="act3"></div>
  <div class="box2" id="act4">
    <section id="photostack-1" class="photostack photostack-start">
      <div>
        <figure>
          <a class="photostack-img"><img src="/images/s1.jpeg" alt="img01"/></a>
          <figcaption>
            <h2 class="photostack-title">Serenity Beach</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s2.jpeg" alt="img02"/></a>
          <figcaption>
            <h2 class="photostack-title">Happy Days</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s3.jpg" alt="img03"/></a>
          <figcaption>
            <h2 class="photostack-title">Beautywood</h2>
          </figcaption>
        </figure>
        <figure>
          <a  class="photostack-img"><img src="/images/s4.jpg" alt="img04"/></a>
          <figcaption>
            <h2 class="photostack-title">Heaven of time</h2>
          </figcaption>
        </figure>
        <figure>
          <a  class="photostack-img"><img src="/images/s5.jpg" alt="img05"/></a>
          <figcaption>
            <h2 class="photostack-title">Speed Racer</h2>
          </figcaption>
        </figure>
        <figure>
          <a  class="photostack-img"><img src="/images/s6.jpeg" alt="img06"/></a>
          <figcaption>
            <h2 class="photostack-title">Forever this</h2>
          </figcaption>
        </figure>
        <figure>
          <a  class="photostack-img"><img src="/images/s7.jpg" alt="img07"/></a>
          <figcaption>
            <h2 class="photostack-title">Lovely Green</h2>
          </figcaption>
        </figure>
        <figure>
          <a  class="photostack-img"><img src="/images/s8.jpg" alt="img08"/></a>
          <figcaption>
            <h2 class="photostack-title">Wonderful</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s9.jpg" alt="img09"/></a>
          <figcaption>
            <h2 class="photostack-title">Love Addict</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s10.jpg" alt="img10"/></a>
          <figcaption>
            <h2 class="photostack-title">Friendship</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s11.jpg" alt="img11"/></a>
          <figcaption>
            <h2 class="photostack-title">White Nights</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s12.jpg" alt="img12"/></a>
          <figcaption>
            <h2 class="photostack-title">Serendipity</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s13.jpg" alt="img13"/></a>
          <figcaption>
            <h2 class="photostack-title">Pure Soul</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s14.jpg" alt="img14"/></a>
          <figcaption>
            <h2 class="photostack-title">Winds of Peace</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s15.jpg" alt="img15"/></a>
          <figcaption>
            <h2 class="photostack-title">Shades of blue</h2>
          </figcaption>
        </figure>
        <figure>
          <a class="photostack-img"><img src="/images/s16.jpg" alt="img16"/></a>
          <figcaption>
            <h2 class="photostack-title">Lightness</h2>
          </figcaption>
        </figure>
      </div>
    </section>
  </div>
  <div>
    <img class="moveTop" src="/images/up2.png"></img>
  </div>
</div>

</div>
<script src="/javascripts/main.js"></script>
<script src="/javascripts/classie.js"></script>
<script src="/javascripts/photostack.js"></script>
<script>
new Photostack( document.getElementById( 'photostack-1' ), {
  callback : function( item ) {
  }
} );
</script>
</body>
</html>
